/* 
.todoHolder { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 8px;
} */
.link { 
text-decoration: none;
color: #5b21b6;
}

.compelete { 
    background: #d4deff;
    width: 250px;
    height: 150px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 5px;
    cursor: pointer;
    justify-content: space-between;
}

.unCompelete { 
    background: #f9a8d4;
    width: 250px;
    height: 150px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:8px 5px;
    cursor: pointer;
    justify-content: space-between;

}

.date { 
    align-self: flex-start;
    margin: 8px 5px;
}

.condition { 
    align-self: flex-end;
    padding: 8px;
}