.header { 
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 5px;
    color: #1000ff;

}

.search{ 
    width: 85%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search>input { 
    width: 100%;
    border: solid 1px #d8b4fe;
    border-radius: 8px;
    padding: 8px 35px;
}

.searchIcon { 
    position: absolute;
    left: 10px;
}

.search>input:focus { 
    border : none;
    outline: none;
}